* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

/*-------------------------------------------------HOME PAGE------------------------------------------------------*/

/*-------------header------------*/
.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/Main-bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #01204C;
    background-color: #01204C;
  }
  
  nav img {
    width: 300px;
    margin-left: 20px;
  }
  
  .nav-links {
    flex: 1;
    text-align: right;
  }
  
  /* menu bar */
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-right: 20px;
  }
  
  /* change text color */
  .nav-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* add hover effect */
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #08e9f7;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .nav-links ul li:hover::after {
    width: 100%;
  }
  
  .text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
  
  .text-box h1 {
    font-size: 90px;
    margin-top: 50px;
  }
  
  .text-box p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
  }
  
  /* Make a button*/
  .design-button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background-color: #7eb6f6;
    position: relative;
    margin-top: 20px;
  }
  
  /* Create hover effect for that button */
  .design-button:hover {
    border: 1px solid #08e9f7;
    background: #08e9f7;
    transition: 1s;
  }
  
  nav .fa {
    display: none;
  }
  
  /* Make manu bar look better on smaller devices having width <= 700px */
  @media (max-width: 700px) {
    .text-box h1 {
      font-size: 50px;
    }

    .text-box p {
      font-size: 12px;
    }
  
    .nav-links ul li {
      display: block;
    }
  
    .nav-links {
      position: fixed;
      background: #7eb6f6;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }
  
    /* open and close menu bar */
    nav .fa {
      display: block;
      color: #08e9f7;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }
  
    .nav-links ul {
      padding: 30px;
    }
  }

/*------------- intro ------------*/
.intro {
  margin: auto;
  text-align: center;
  padding-top: 70px;
  background-color: #01204C;
  padding-bottom: 50px;
}

.intro h1 {
  font-size: 70px;
  font-weight: 600;
  color: #ffffff;
}

.intro h2 {
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
}

.intro p {
  color: #ffffff;
}

.intro-row {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 70px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}

.intro-col {
  flex: 50%;
  padding: 30px 2px;
  background-color: #8695e7;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.intro-col-img {
  flex: 50%;
  padding: 30px 2px;
}

.intro-col-img img {
  height: 300px;
  width: auto;
}

.intro-col h2 {
  color: #ffffff;
  font-size: 40px;
}

.intro-col p {
  padding: 15px 20px 25px;
  text-align: justify;
  color: #ffffff;
/*15px from top, 0 for left-right, 25px from bottom */
}

.intro-col-1 {
  flex: 50%;
  padding: 30px 2px;
  background-color: #7057cb;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.intro-col-1 h2 {
  color: #ffffff;
  font-size: 40px;
}

.intro-col-1 p {
  padding: 15px 20px 25px;
  text-align: justify;
  color: #ffffff;
/*15px from top, 0 for left-right, 25px from bottom */
}

/*----------- footer --------------*/
.footer {
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color: #7eb6f6;
}

.footer h3 {
  font-size: 30px;
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  color: #000000;
}

.footer p {
  color: #000000;
}

.icons .fa {
  color: #000000;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa-heart-o {
  color: #000000;
}

.footer-row {
  margin: auto;
  width: 60%;
  display: flex;
}

.footer-column {
  flex: 50%;
  text-align: center;
}

hr {
  margin: auto;
  width: 80%;
  border-top: 1px solid black;
}

.footer img {
  margin-top: 20px;
  height: 40px;
  width: auto;
}

/*-------------------------------------------------ABOUT PAGE------------------------------------------------------*/
.about-header {
  min-height: 100vh;
  width: 100%;
  background-image: url(../images/About-us-bg.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.about-text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.about-text-box h1 {
  font-size: 90px;
  margin-top: 50px;
}

.about-text-box p {
  margin: 10px 0 40px;
  font-size: 18px;
  color: #fff;
}

@media (max-width: 700px) {
  .about-text-box h1 {
    font-size: 50px;
  }

  .about-text-box p {
    font-size: 12px;
  }
}

/*------------- who ------------*/
.who {
  margin: auto;
  text-align: center;
  padding-top: 70px;
  background-color: #01204C;
}

.who h1 {
  font-size: 70px;
  font-weight: 600;
  color: #ffffff;
}

.who-row {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 70px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}

.who-col {
  flex: 50%;
  padding: 30px 2px;
  background-color: #8695e7;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.who-col-img {
  flex: 50%;
  padding: 30px 2px;
}

.who-col-img img {
  height: 300px;
  width: auto;
  border-radius: 50%;
}

.who-col-img p {
  margin-top: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

.who-col h2 {
  color: #ffffff;
  font-size: 40px;
}

.who-col p {
  padding: 15px 20px 25px;
  text-align: justify;
  color: #ffffff;
/*15px from top, 0 for left-right, 25px from bottom */
}

.who-col-1 {
  flex: 50%;
  padding: 30px 2px;
  background-color: #7eb6f6;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.who-col-1 h2 {
  color: #000000;
  font-size: 40px;
}

.who-col-1 p {
  padding: 15px 20px 25px;
  text-align: justify;
  color: #000000;
/*15px from top, 0 for left-right, 25px from bottom */
}

.who-col-2 {
  flex: 50%;
  padding: 30px 2px;
  background-color: #35c3f3;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.who-col-2 h2 {
  color: #000000;
  font-size: 40px;
}

.who-col-2 p {
  padding: 15px 20px 25px;
  text-align: justify;
  color: #000000;
/*15px from top, 0 for left-right, 25px from bottom */
}

.build {
  margin: auto;
  text-align: center;
  padding-top: 70px;
  background-color: #2b2f84;
}

.build h1 {
  font-size: 70px;
  font-weight: 600;
  color: #ffffff;
}

.build p {
  margin-top: 50px;
  font-size: 25px;
  color: #ffffff;
  padding-bottom: 200px;
  padding-left: 150px;
  padding-right: 150px;
}

/*-------------------------------------------------PREDICT PAGE------------------------------------------------------*/
.predict-header {
  min-height: 100vh;
  width: 100%;
  background-image: url(../images/Prediction-bg.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.predict-text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
}

.predict-text-box h1 {
  font-size: 90px;
  margin-top: 50px;
}

.predict-text-box p {
  margin: 10px 0 40px;
  font-size: 18px;
  color: #fff;
}

@media (max-width: 700px) {
  .predict-text-box h1 {
    font-size: 50px;
  }

  .predict-text-box p {
    font-size: 12px;
  }
}

table {
  border-collapse: collapse;
	width: 80%;
	margin: auto;
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}

th, td {
  text-align: center;
	padding: 10px;
  font-weight: bold;
	border: 1px solid #ddd; /* faint border for all except column names */
	color: black; /* column text color */
}

th {
	border-width: 0 1px 2px 1px; /* bold border only for top and bottom of column names */
	background-color: #08E9F7; /* column header background color */
}

.green {
  color: #22B6A3;
}

.red {
  color: #FF5757;
}

td a {
  color: #01204C; /* cryptocurrency name color */
  text-decoration: none; /* removes underline */
}

td a:hover {
  text-decoration: underline; /* adds underline on hover */
}


/*-------------------------------------------------SEARCH PAGE------------------------------------------------------*/
.search-header {
  min-height: 100vh;
  width: 100%;
  background-image: url(../images/Search-bg.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.search-text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.search-text-box h1 {
  font-size: 90px;
  margin-top: 50px;
}

.search-text-box p {
  margin: 10px 0 40px;
  font-size: 18px;
  color: #fff;
}

@media (max-width: 700px) {
  .search-text-box h1 {
    font-size: 50px;
  }

  .search-text-box p {
    font-size: 12px;
  }
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.search-container {
  position: relative;
  top: 460px; /* adjust this value to move the search-container down */
  margin: 20px auto;
  margin-top: 10px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #08E9F7;
  border-radius: 20px;
  height: 50px; /* reduce the height to 40px */
}

.search-container input[type="text"] {
  width: 80%;
  padding: 5px; /* reduce the top and bottom padding to 5px */
  border: none;
  background-color: #08E9F7;
  color: black;
  font-size: 14px; /* reduce the font size to 14px */
}

.search-container button {
  /*width: 20%;  reduce the width to 20% */
  height: 30px; /* reduce the height to 30px */
  padding: 5px; /* reduce the top and bottom padding to 5px */
  border: none;
  background-color: #08E9F7;
  color: black;
  cursor: pointer;
}

.search-container button img {
  height: 20px; /* reduce the height of the search icon to 20px */
}

/*-------------------------------------------------EACH COIN PAGE------------------------------------------------------*/
.collapsible {
  background-color: #7DD5F6;
  color: black;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.active, .collapsible:hover {
  background-color: #787FF6;
}

.content {
  padding: 0 18px;
  max-height: 0;
  margin: auto;
  text-align: left;
  width: 77.6%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.content p {
  color: black;
}

.purple {
  color: #5F42CB;
}

.content img {
  width: 100%;
  max-width: 700px;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

#graphContainer {
  width: 80%;
  margin: 0 auto;
}

#lineGraph {
  background-color: #fff;
}