<!DOCTYPE html>
<html lang="en">
  <!------------------------GENERAL INFORMATION---------------------------->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRYPTO-URECA</title>

    <!-- link the css file with html file -->
    <link rel="stylesheet" href="../static/css/design.css" />

    <!-- add fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap"
      rel="stylesheet"
    />

    <!--insert this line for icon from front-awesome -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <!------------------------HEADER---------------------------->
      <section class="predict-header">
        <!--Navigation / menu bar-->
        <nav>
          <a href="main.html"
            ><img src="../static/images/Logo-dark.png" alt="CRYPTO-URECA logo"
          /></a>
          <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
              <li><a href="main.html">MAIN</a></li>
              <li><a href="search.html">SEARCH</a></li>
              <li><a href="predict.html">PREDICT</a></li>
              <li><a href="about.html">ABOUT US</a></li>
            </ul>
          </div>
          <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
  
        <!-- text box -->
        <div class="predict-text-box">
          <h1>
            Prediction tool
          </h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim <br>
            ad minim veniam, quis nostrud exercitation.

          </p>
          <!-- <br> to break lines -->
          <a href="#one" class="design-button"
            ><b>List of coins</b></a
          >
        </div>
      </section>

      <!------------------- JavaScript to open and close menu bar -------------------->
      <script>
        var navLinks = document.getElementById("navLinks");
  
        function showMenu() {
          navLinks.style.right = "0";
        }
        function hideMenu() {
          navLinks.style.right = "-200px";
        }
      </script>

      <!---------------------------------------- TABLE ------------------------------------>
      <section id="one" class="intro">
        <h1><b>List of cryptocurrencies</b></h1>
        <p>Click to see the details</p>

        
        <table id="table_coin">
        <!--
          <thead>
            <tr>
              <th>Coin</th>
              <th>1 day</th>
              <th>3 days</th>
              <th>7 days</th>
              <th>30 days</th>
              <th>50 days</th>
            </tr>
          </thead>
          <tbody>
            <tr id="bitcoin">
              <td><img src="../static/images/btc-logo.png" alt="BTC Logo" height="20px" width="20px">&nbsp;<a href="bitcoin.html">BTC (Bitcoin)</a></td>
              <td class="green">+3.9%</td>
              <td class="red">-5.2%</td>
              <td class="green">+2.1%</td>
              <td class="red">-4.3%</td>
              <td class="green">+6.7%</td>
            </tr>
            <tr id = 'ethereum'>
              <td><img src="../static/images/eth-logo.png" alt="ETH Logo" height="20px" width="20px">&nbsp;<a href="#">ETH (Ethereum)</a></td>
              <td class="red">-1.2%</td>
              <td class="green">+4.6%</td>
              <td class="red">-2.8%</td>
              <td class="green">+3.4%</td>
              <td class="red">-8.1%</td>
            </tr>
            <tr id = 'solana'>
              <td><img src="../static/images/sol-logo.png" alt="SOL Logo" height="20px" width="20px">&nbsp;<a href="#">SOL (Solana)</a></td>
              <td class="green">+6.5%</td>
              <td class="red">-2.9%</td>
              <td class="green">+1.8%</td>
              <td class="red">-3.7%</td>
              <td class="green">+7.2%</td>
            </tr>
            <tr id = 'cardano'>
              <td><img src="../static/images/ada-logo.png" alt="ADA Logo" height="20px" width="20px">&nbsp;<a href="#">ADA (Cardano)</a></td>
              <td class="red">-3.5%</td>
              <td class="green">+5.1%</td>
              <td class="red">-1.6%</td>
              <td class="green">+2.8%</td>
              <td class="red">-6.9%</td>
            </tr>
            <tr id = 'polkadot'>
              <td><img src="../static/images/dot-logo.png" alt="DOT Logo" height="20px" width="20px">&nbsp;<a href="#">DOT (Polkadot)</a></td>
              <td class="green">+2.8%</td>
              <td class="red">-4.7%</td>
              <td class="green">+3.3%</td>
              <td class="red">-6.2%</td>
              <td class="green">+4.9%</td>
            </tr>
            <tr id = 'zil'>
              <td><img src="../static/images/zil-logo.png" alt="ZIL Logo" height="20px" width="20px">&nbsp;<a href="#">ZIL (Zilliqa)</a></td>
              <td class="green">+1.5%</td>
              <td class="red">-2.3%</td>
              <td class="green">+4.2%</td>
              <td class="red">-1.8%</td>
              <td class="green">+3.1%</td>
            </tr>
          </tbody>
        -->
        </table>

      
      </section>

    <!---------------------------------------- FOOTER ------------------------------------>
    <section id="six" class="footer">
      <h3><b>CONNECT WITH US</b></h3>
      <div class="footer-row">
        <div class="footer-column">
          <div class="footer-name">
            <h4><b>DEREK THEIN THAN ZAW</b></h4>
            <p>Mobile: +65 6543 8459<br/>
              Email: derekdewreck@gmail.com
              </p>
          </div>

          <div class="icons">
            <a href="https://www.facebook.com/mldaateee"
              ><i class="fa fa-facebook"></i
            ></a>
            <a href="https://www.instagram.com/mlda_at_eee_ntu/"
              ><i class="fa fa-instagram"></i
            ></a>
            <a href="https://www.linkedin.com/in/thein-than-zaw/"
              ><i class="fa fa-linkedin"></i
            ></a>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-name">
            <h4><b>PHAM THUY LINH</b></h4>
            <p>Mobile: +65 9104 4945<br/>
              Email: ptlinh1803@gmail.com
              </p>
          </div>

          <div class="icons">
            <a href="https://www.facebook.com/linhpham.183/"
              ><i class="fa fa-facebook"></i
            ></a>
            <a href="https://www.instagram.com/linhpham.183/"
              ><i class="fa fa-instagram"></i
            ></a>
            <a href="https://www.linkedin.com/in/thuy-linh-pham-1066a2225/"
              ><i class="fa fa-linkedin"></i
            ></a>
          </div>
        </div>
      </div>

      <hr noshade>

      <a href="home.html"><img src="../static/images/Logo-light.png" alt="CRYPTO-URECA logo"/></a>

      
      <p>Copyright &copy; 2023. Made with <i class="fa fa-heart-o"></i> in Singapore</p>
    </section>
    <!-- <script src="../static/js/btc.js"></script> -->
    <script src="../static/js/allcoin.js"></script>
  </body>